root = true

[*]
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
indent_size = 2

[*.{js,json,yml,yaml,dhall}]
indent_size = 2

[*.purs]
indent_size = 2
